@charset "ISO-8859-1";
html {

}

body {
font-family: sans-serif;
background-image: linear-gradient(to bottom right, #AFEEEE, #C71585)
}

header {
margin: 25px;
}

header img {
width: 100%;
border-bottom-style: dotted;
border-color: black;
}

li {
padding-bottom: 5px;
margin: 2px;
}

li a {
color: #0000ff;
text-decoration: none;
font-size: 20pt;
list-style: none;
}

li a:hover {
text-decoration: underline;
}

nav:after {
clear: both;
}

nav ul {
width: 100%;
}

nav ul li {
float: left;
margin-right: 20px;
background-color: #ffffff;
border-radius: 8px;
list-style: none;
text-align: center;
width: 200px;
padding-top: 5px;
}

td{
height: 33%;
border-bottom-style: double;
border-color: black;
padding-top: 15px;
}

section {
padding: 20px;
}

.parkDetails > img {
width: 80%;
}

select {
width: 350px;
border-radius: 10px;
margin-bottom: 20px;
}

input {
width: 350px;
border-radius: 10px;
margin-bottom: 20px;
}

h1 {
padding: 20px;
border-style: groove;
border-color: black;
}

h2 {
padding-top: 10px;
font-weight: bold;
}

h3 {
width: 100%;
border-bottom-style: double;
border-color: black;
}

p {
font-size: 20px;
font-weight: bold;
padding-top: 15px;
margin-bottom: -1px;
}

.copyright {
text-align: center;
font-weight: normal;
}